// @import "../../index.scss"

.nav-links{
    list-style-type:none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-emphasis:center;
};
.nav-link{
    color:grey;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s linear;
    &:hover{
        color: green($color: #000000);
    }
};
.active{
    color: green;
}

 
    .navbar{
        background: black;
        padding: 0.5rem 1rem;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
