

$mainBlack:#222;
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGrey:#ececec;


body {
font-family: "Open sans",sans-serif;
background: $mainGrey;
color: $mainGreen;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}